<footer class="w-full bg-gray-200 mt-8">
    <div
        class="
            container max-w-screen-lg
            text-sm text-center
            py-5 mx-auto
            text-gray-500
        "
    >
        ATC Groupe System Inventory v1.0.0
    </div>
</footer>
